# Scraping crescimento

In [4]:
import pandas as pd

In [7]:
growth_csv = pd.read_csv('../csv/items_growth.csv')

In [8]:
growth_csv

                  _type        date  followers  medias                    user
0   InstagramGrowthItem  2016-04-15       8117     154     alanalbuquerquehair
1   InstagramGrowthItem  2016-04-15      11414     122  alanalbuquerqueoficial
2   InstagramGrowthItem  2016-04-15       8211     393           alisonalvarez
3   InstagramGrowthItem  2016-04-15      11200     166              amauritito
4   InstagramGrowthItem  2016-04-15       1752     316           andrea_jordao
5   InstagramGrowthItem  2016-04-15       7269     530         andreczerwinski
6   InstagramGrowthItem  2016-04-15       4404    1525             baby_moretz
7   InstagramGrowthItem  2016-04-15       3774     181            betofortes73
8   InstagramGrowthItem  2016-04-15        963     484             bydanirocha
9   InstagramGrowthItem  2016-04-15       1870     340           celiacmeneses
10  InstagramGrowthItem  2016-04-15       7379    1008        cidanunes_makeup
11  InstagramGrowthItem  2016-04-15        606     111            clauquatrini
12  InstagramGrowthItem  2016-04-15       1762     214            claytonmozar
13  InstagramGrowthItem  2016-04-15       9216     303       danielchabaribery
14  InstagramGrowthItem  2016-04-15      56501    3433                  derley
15  InstagramGrowthItem  2016-04-15      41285    1442                dougllas
16  InstagramGrowthItem  2016-04-15        534       7        durval_rodrigues
17  InstagramGrowthItem  2016-04-15       2001     165             fabylopes10
18  InstagramGrowthItem  2016-04-15       6671     109           jackie_cabral
19  InstagramGrowthItem  2016-04-15       6221     722          luiztogoesilva
20  InstagramGrowthItem  2016-04-15       3915     230           mariliacbrito
21  InstagramGrowthItem  2016-04-15       1846     345                  mharpa
22  InstagramGrowthItem  2016-04-15       5561     500      miropereiraoficial
23  InstagramGrowthItem  2016-04-15       7136     957            moniquecouto
24  InstagramGrowthItem  2016-04-15       2166     211           nandofeitosa1
25  InstagramGrowthItem  2016-04-15       3184     218           nicemedeirosw
26  InstagramGrowthItem  2016-04-15      33720    1821               regitadeu
27  InstagramGrowthItem  2016-04-15       4028     461                ritinhaw
28  InstagramGrowthItem  2016-04-15       3155     696         samueloliveiraw
29  InstagramGrowthItem  2016-04-15       1939     741         silvanalimadias
30  InstagramGrowthItem  2016-04-15       1578     353            soninhalessa
31  InstagramGrowthItem  2016-04-15       3367     239               vi_makeup
32  InstagramGrowthItem  2016-04-15      64759    2230             waltermleal
33  InstagramGrowthItem  2016-04-15       1283      64           wlilluminadas

In [11]:
growth_csv.sort_values(by='followers', ascending=False)

                  _type        date  followers  medias                    user
32  InstagramGrowthItem  2016-04-15      64759    2230             waltermleal
14  InstagramGrowthItem  2016-04-15      56501    3433                  derley
15  InstagramGrowthItem  2016-04-15      41285    1442                dougllas
26  InstagramGrowthItem  2016-04-15      33720    1821               regitadeu
1   InstagramGrowthItem  2016-04-15      11414     122  alanalbuquerqueoficial
3   InstagramGrowthItem  2016-04-15      11200     166              amauritito
13  InstagramGrowthItem  2016-04-15       9216     303       danielchabaribery
2   InstagramGrowthItem  2016-04-15       8211     393           alisonalvarez
0   InstagramGrowthItem  2016-04-15       8117     154     alanalbuquerquehair
10  InstagramGrowthItem  2016-04-15       7379    1008        cidanunes_makeup
5   InstagramGrowthItem  2016-04-15       7269     530         andreczerwinski
23  InstagramGrowthItem  2016-04-15       7136     957            moniquecouto
18  InstagramGrowthItem  2016-04-15       6671     109           jackie_cabral
19  InstagramGrowthItem  2016-04-15       6221     722          luiztogoesilva
22  InstagramGrowthItem  2016-04-15       5561     500      miropereiraoficial
6   InstagramGrowthItem  2016-04-15       4404    1525             baby_moretz
27  InstagramGrowthItem  2016-04-15       4028     461                ritinhaw
20  InstagramGrowthItem  2016-04-15       3915     230           mariliacbrito
7   InstagramGrowthItem  2016-04-15       3774     181            betofortes73
31  InstagramGrowthItem  2016-04-15       3367     239               vi_makeup
25  InstagramGrowthItem  2016-04-15       3184     218           nicemedeirosw
28  InstagramGrowthItem  2016-04-15       3155     696         samueloliveiraw
24  InstagramGrowthItem  2016-04-15       2166     211           nandofeitosa1
17  InstagramGrowthItem  2016-04-15       2001     165             fabylopes10
29  InstagramGrowthItem  2016-04-15       1939     741         silvanalimadias
9   InstagramGrowthItem  2016-04-15       1870     340           celiacmeneses
21  InstagramGrowthItem  2016-04-15       1846     345                  mharpa
12  InstagramGrowthItem  2016-04-15       1762     214            claytonmozar
4   InstagramGrowthItem  2016-04-15       1752     316           andrea_jordao
30  InstagramGrowthItem  2016-04-15       1578     353            soninhalessa
33  InstagramGrowthItem  2016-04-15       1283      64           wlilluminadas
8   InstagramGrowthItem  2016-04-15        963     484             bydanirocha
11  InstagramGrowthItem  2016-04-15        606     111            clauquatrini
16  InstagramGrowthItem  2016-04-15        534       7        durval_rodrigues

# Scraping engajamento

In [16]:
engagement_csv = pd.read_csv('../csv/items_engagement_full.csv')

In [17]:
df = engagement_csv
df

,_type,comments,date,likes,user
0,InstagramEngagementItem,1,2015-11-29,27,alanalbuquerquehair
1,InstagramEngagementItem,9,2015-11-21,567,alanalbuquerqueoficial
2,InstagramEngagementItem,4,2016-01-23,96,alisonalvarez
3,InstagramEngagementItem,9,2016-01-29,217,amauritito
4,InstagramEngagementItem,1,2014-11-25,15,andrea_jordao
5,InstagramEngagementItem,1,2016-02-02,48,andreczerwinski
6,InstagramEngagementItem,1,2016-01-29,41,baby_moretz
7,InstagramEngagementItem,0,2015-11-05,26,betofortes73
8,InstagramEngagementItem,1,2015-10-17,29,bydanirocha
9,InstagramEngagementItem,0,2015-12-07,18,celiacmeneses
10,InstagramEngagementItem,0,2016-03-29,48,cidanunes_makeup
11,InstagramEngagementItem,1,2015-09-15,11,clauquatrini
12,InstagramEngagementItem,3,2015-12-09,15,claytonmozar
13,InstagramEngagementItem,11,2015-09-15,177,danielchabaribery
14,InstagramEngagementItem,3,2016-03-21,152,dougllas
15,InstagramEngagementItem,4,2016-04-08,19,durval_rodrigues
16,InstagramEngagementItem,2,2016-04-08,19,durval_rodrigues
17,InstagramEngagementItem,0,2016-04-08,28,durval_rodrigues
18,InstagramEngagementItem,1,2016-04-08,29,durval_rodrigues
19,InstagramEngagementItem,0,2016-04-08,15,durval_rodrigues
20,InstagramEngagementItem,1,2016-04-08,45,durval_rodrigues
21,InstagramEngagementItem,8,2016-04-08,37,durval_rodrigues
22,InstagramEngagementItem,1,2016-03-22,128,dougllas
23,InstagramEngagementItem,11,2016-03-22,178,dougllas
24,InstagramEngagementItem,11,2016-03-23,162,dougllas
25,InstagramEngagementItem,0,2016-03-24,87,dougllas
26,InstagramEngagementItem,21,2016-03-24,293,dougllas
27,InstagramEngagementItem,3,2016-03-26,274,dougllas
28,InstagramEngagementItem,6,2016-03-26,185,dougllas
29,InstagramEngagementItem,7,2016-03-26,129,dougllas
...,...,...,...,...,...
19631,InstagramEngagementItem,0,2016-03-22,7,wlilluminadas
19632,InstagramEngagementItem,0,2016-03-22,6,wlilluminadas
19633,InstagramEngagementItem,0,2016-03-22,8,wlilluminadas
19634,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19635,InstagramEngagementItem,1,2016-03-22,8,wlilluminadas
19636,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19637,InstagramEngagementItem,0,2016-03-22,3,wlilluminadas
19638,InstagramEngagementItem,0,2016-03-22,2,wlilluminadas
19639,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19640,InstagramEngagementItem,1,2016-03-22,3,wlilluminadas
19641,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19642,InstagramEngagementItem,0,2016-03-22,4,wlilluminadas
19643,InstagramEngagementItem,0,2016-03-22,6,wlilluminadas
19644,InstagramEngagementItem,0,2016-03-22,4,wlilluminadas
19645,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19646,InstagramEngagementItem,0,2016-03-22,6,wlilluminadas
19647,InstagramEngagementItem,0,2016-03-22,5,wlilluminadas
19648,InstagramEngagementItem,1,2016-03-22,8,wlilluminadas
19649,InstagramEngagementItem,0,2016-03-22,9,wlilluminadas
19650,InstagramEngagementItem,1,2016-03-22,9,wlilluminadas
19651,InstagramEngagementItem,0,2016-03-22,7,wlilluminadas
19652,InstagramEngagementItem,0,2016-03-22,9,wlilluminadas
19653,InstagramEngagementItem,0,2016-03-22,9,wlilluminadas
19654,InstagramEngagementItem,0,2016-03-22,10,wlilluminadas
19655,InstagramEngagementItem,0,2016-03-22,9,wlilluminadas
19656,InstagramEngagementItem,0,2016-03-22,10,wlilluminadas
19657,InstagramEngagementItem,0,2016-03-22,12,wlilluminadas
19658,InstagramEngagementItem,0,2016-03-22,10,wlilluminadas
19659,InstagramEngagementItem,0,2016-03-22,8,wlilluminadas
19660,InstagramEngagementItem,2,2013-05-18,26,ritinhaw

In [19]:
df = df[(df['date'] > '2016-03-28') & (df['date'] < '2016-04-03')]
df

,_type,comments,date,likes,user
10,InstagramEngagementItem,0,2016-03-29,48,cidanunes_makeup
64,InstagramEngagementItem,8,2016-03-29,151,dougllas
65,InstagramEngagementItem,0,2016-03-29,58,dougllas
66,InstagramEngagementItem,0,2016-03-29,64,dougllas
67,InstagramEngagementItem,4,2016-03-29,82,dougllas
68,InstagramEngagementItem,0,2016-03-29,58,dougllas
69,InstagramEngagementItem,2,2016-03-29,81,dougllas
70,InstagramEngagementItem,5,2016-03-30,220,dougllas
71,InstagramEngagementItem,1,2016-03-30,63,dougllas
72,InstagramEngagementItem,20,2016-03-30,185,dougllas
73,InstagramEngagementItem,3,2016-03-30,183,dougllas
74,InstagramEngagementItem,3,2016-03-31,155,dougllas
75,InstagramEngagementItem,2,2016-03-31,136,dougllas
76,InstagramEngagementItem,3,2016-04-01,142,dougllas
77,InstagramEngagementItem,4,2016-04-01,159,dougllas
78,InstagramEngagementItem,6,2016-04-02,155,dougllas
129,InstagramEngagementItem,4,2016-03-30,139,derley
295,InstagramEngagementItem,0,2016-03-31,222,derley
296,InstagramEngagementItem,2,2016-04-01,213,derley
297,InstagramEngagementItem,4,2016-04-01,315,derley
298,InstagramEngagementItem,1,2016-04-02,256,derley
299,InstagramEngagementItem,7,2016-04-02,282,derley
1764,InstagramEngagementItem,0,2016-03-31,110,danielchabaribery
2419,InstagramEngagementItem,0,2016-03-29,34,claytonmozar
2779,InstagramEngagementItem,1,2016-03-29,47,claytonmozar
2780,InstagramEngagementItem,0,2016-03-30,37,claytonmozar
2781,InstagramEngagementItem,2,2016-03-31,55,claytonmozar
2782,InstagramEngagementItem,3,2016-03-31,71,claytonmozar
2783,InstagramEngagementItem,1,2016-04-02,54,claytonmozar
3291,InstagramEngagementItem,1,2016-03-30,62,cidanunes_makeup
...,...,...,...,...,...
12176,InstagramEngagementItem,5,2016-04-01,93,silvanalimadias
12177,InstagramEngagementItem,1,2016-04-01,46,silvanalimadias
12277,InstagramEngagementItem,1,2016-04-02,72,silvanalimadias
13318,InstagramEngagementItem,4,2016-03-29,56,samueloliveiraw
13319,InstagramEngagementItem,5,2016-03-29,65,samueloliveiraw
13320,InstagramEngagementItem,0,2016-03-30,29,samueloliveiraw
13321,InstagramEngagementItem,7,2016-03-31,51,samueloliveiraw
13322,InstagramEngagementItem,4,2016-03-31,42,samueloliveiraw
13323,InstagramEngagementItem,2,2016-03-31,81,samueloliveiraw
13324,InstagramEngagementItem,3,2016-04-02,54,samueloliveiraw
13325,InstagramEngagementItem,3,2016-04-02,69,samueloliveiraw
13326,InstagramEngagementItem,1,2016-04-02,48,samueloliveiraw
13327,InstagramEngagementItem,2,2016-04-02,83,samueloliveiraw
15731,InstagramEngagementItem,0,2016-03-29,50,regitadeu
15732,InstagramEngagementItem,3,2016-03-29,78,regitadeu
15733,InstagramEngagementItem,1,2016-03-31,99,regitadeu
15734,InstagramEngagementItem,3,2016-04-01,99,regitadeu
16070,InstagramEngagementItem,0,2016-03-29,78,nicemedeirosw
17204,InstagramEngagementItem,2,2016-03-30,175,moniquecouto
17205,InstagramEngagementItem,6,2016-04-01,218,moniquecouto
17206,InstagramEngagementItem,3,2016-04-01,191,moniquecouto
17207,InstagramEngagementItem,4,2016-04-02,156,moniquecouto
17468,InstagramEngagementItem,5,2016-03-29,136,miropereiraoficial
17469,InstagramEngagementItem,3,2016-03-29,47,miropereiraoficial
17470,InstagramEngagementItem,6,2016-03-30,135,miropereiraoficial
17471,InstagramEngagementItem,3,2016-03-31,106,miropereiraoficial
17472,InstagramEngagementItem,11,2016-04-01,162,miropereiraoficial
18589,InstagramEngagementItem,2,2016-03-29,56,mharpa
18590,InstagramEngagementItem,5,2016-03-30,77,mharpa
19602,InstagramEngagementItem,0,2016-04-02,48,wlilluminadas

In [24]:
df.groupby(['user', 'date']).sum()

                                   comments  likes
user                   date
alanalbuquerquehair    2016-04-02        13    192
alanalbuquerqueoficial 2016-03-31         1     72
                       2016-04-02         1     80
alisonalvarez          2016-03-31         4    127
                       2016-04-01         7    144
                       2016-04-02         0     83
amauritito             2016-03-29         7    251
andreczerwinski        2016-03-30         4    137
baby_moretz            2016-03-30         1     45
                       2016-04-01         4    156
betofortes73           2016-03-29         6    165
                       2016-03-30         7    102
                       2016-03-31         9    258
                       2016-04-02         0     86
bydanirocha            2016-03-30         5     36
                       2016-03-31         2     46
celiacmeneses          2016-04-01         3    184
cidanunes_makeup       2016-03-29         6    163
                       2016-03-30         3    111
                       2016-03-31         5     95
                       2016-04-01         7    117
                       2016-04-02         6    137
claytonmozar           2016-03-29         1     81
                       2016-03-30         0     37
                       2016-03-31         5    126
                       2016-04-02         1     54
danielchabaribery      2016-03-31         0    110
derley                 2016-03-30         4    139
                       2016-03-31         0    222
                       2016-04-01         6    528
...                                     ...    ...
mharpa                 2016-03-30         5     77
miropereiraoficial     2016-03-29         8    183
                       2016-03-30         6    135
                       2016-03-31         3    106
                       2016-04-01        11    162
moniquecouto           2016-03-30         2    175
                       2016-04-01         9    409
                       2016-04-02         4    156
nicemedeirosw          2016-03-29         0     78
regitadeu              2016-03-29         3    128
                       2016-03-31         1     99
                       2016-04-01         3     99
samueloliveiraw        2016-03-29         9    121
                       2016-03-30         0     29
                       2016-03-31        13    174
                       2016-04-02         9    254
silvanalimadias        2016-03-30         0     46
                       2016-03-31         8     78
                       2016-04-01         7    187
                       2016-04-02         1     72
soninhalessa           2016-03-29         0     22
                       2016-03-30         1     12
                       2016-03-31         2     12
                       2016-04-02         1     27
waltermleal            2016-03-29        25   1067
                       2016-03-30         8    926
                       2016-03-31        23    997
                       2016-04-01        32   1389
                       2016-04-02        10    803
wlilluminadas          2016-04-02         0     48

[77 rows x 2 columns]